/* Réinitialisation des styles de base */
html, body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif sans-serif;
    background-color: #f0f0f0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    margin: 0%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    width: 50px;
    height: auto;
}

#title {
    text-align: center;
    flex-grow: 1; /* Pour occuper l'espace restant dans le conteneur */
}

h1 {
    font-size: 24px;
    color: #333;
    margin: 0; /* Pour enlever la marge par défaut du h1 */
}

.slogan {
    font-size: 18px;
    color: #666;
    margin: 0; /* Pour enlever la marge par défaut du paragraphe */
}

#scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: opacity 0.1s; /* Ajouter une transition d'opacité */
}

#scroll-top:hover {
    opacity: 1; /* Opacité au survol */
}

/* Fin du header, début du main */

main {
    padding-top: 100px; /* Pour éviter que le contenu soit caché par le header */
    display: flex;
    justify-content: space-between;
}

#content-left, #content-center, #content-right {
    padding: 20px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu li {
    margin: 10px 0;
}

#menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

#menu a:hover {
    color: #007acc;
}

.submenu {
    position: relative;
}

.submenu:hover .sub-menu {
    display: block;
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    padding: 10px;
}

.sub-menu li {
    margin: 5px 0;
}

.sub-menu a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.2s ease-in-out;
}

.sub-menu a:hover {
    color: #007acc;
    transform: scale(1.1);
}

.news-summary {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.news-summary:hover {
    transform: scale(1.05);
}

.news-summary h2 {
    font-size: 18px;
    color: #333;
}

.news-summary p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.news-summary a {
    display: inline-block;
    background-color: #007acc;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.news-summary a:hover {
    background-color: #0058a8;
}

footer {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: center;
}

#footer-menu ul {
    list-style-type: none;
}

#footer-menu ul li {
    display: inline;
    margin: 0 10px;
}