body {
    font-family: Arial, sans-serif;
    background: #fff;
}

header {
    background-color: #007acc;
    color: #fff;
    padding: 20px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu li {
    display: inline-block;
    margin-right: 20px;
}

#user-form {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#form-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top:10%;
}

#identification-form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#identification-form label {
    display: block;
    margin-bottom: 10px; /* Ajout d'espace entre chaque label et input */
}

#identification-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px; /* Ajout d'espace entre chaque input */
}

#identification-form button {
    background-color: #007acc;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#notification {
    background-color: #fff;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    display: none;
}

.infobulle {
    position: relative;  /* les .infobulle deviennent référents */
    cursor: pointer;
  }

.infobulle:hover::after,
.infobulle:focus::after {
    content: attr(aria-label);  /* on affiche aria-label */
    position: absolute;
    top: -1.4em;
    left: 50%;
    transform: translateX(-50%); /* on centre horizontalement  */
    z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
    white-space: nowrap;  /* on interdit le retour à la ligne */
    background-color: aquamarine;
  }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
   }
   
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
   }
   input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
   }ity: 1;
 }

 footer {
    text-align: center;
    background-color: #e0e0e0;
    padding: 20px;
    
}

#footer-menu ul {
    list-style-type: none;
}

#footer-menu ul li {
    display: inline;
    margin: 0 10px;
}